<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
@model ContactManagementSystem_V2.Models.Contact
<div class="container">
    <h1>Edit Contacts</h1>

    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div>
            <label for="Name">Name:</label>
            <input type="text" asp-for="Name" required /><br>
        </div>
        <div>
            <label for="Email">Email:</label>
            <input type="text" asp-for="Email" required /><br>
        </div>
        <div>
            <label for="Phone">Phone:</label>
            <input type="text" asp-for="Phone" required /><br>
        </div>
        <button type="submit">Save</button>
    </form>

</div>
